<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932204445351-2erou5u6ai5ifps16dvp9j7t4kh3if9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932204445351-2erou5u6ai5ifps16dvp9j7t4kh3if9l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>932204445351-jg4hl0fitsnibenup1s2fhe6og5e3m5h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdZGFqcXCbgaNT90LK_FzS3RkkMAN31XM</string>
	<key>GCM_SENDER_ID</key>
	<string>932204445351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>waterlo.app</string>
	<key>PROJECT_ID</key>
	<string>waterlo-28c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>waterlo-28c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932204445351:ios:fc7b8d18b9104615932582</string>
</dict>
</plist>